@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0 100%;
    --foreground: 195 27% 23%;
    --muted: 195 11% 93%;
    --muted-foreground: 195 27% 23%;
    --popover: 0 0% 100%;
    --popover-foreground: 195 27% 23%;
    --card: 0 0% 100%;
    --card-foreground: 195 27% 23%;
    --border: 195 11% 93%;
    --input: 195 15% 89%;
    --primary: 196 22% 34%;
    --primary-foreground: 0 0% 100%;
    --secondary: 36 100% 67%;
    --secondary-foreground: 196 22% 34%;
    --accent: 195 11% 93%;
    --accent-foreground: 196 22% 34%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --ring: 196 22.1% 33.7%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 196 10% 10%;
    --foreground: 196 0% 100%;
    --card: 196 0% 10%;
    --card-foreground: 196 0% 100%;
    --popover: 196 10% 5%;
    --popover-foreground: 196 0% 100%;
    --primary: 196 22.1% 33.7%;
    --primary-foreground: 0 0% 100%;
    --secondary: 196 10% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 158 10% 25%;
    --muted-foreground: 196 0% 65%;
    --accent: 158 10% 25%;
    --accent-foreground: 196 0% 95%;
    --destructive: 0 50% 50%;
    --destructive-foreground: 196 0% 100%;
    --border: 196 20% 50%;
    --input: 196 20% 50%;
    --ring: 196 22.1% 33.7%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}